services:
  db:
    image: mysql:8.0
    container_name: bookshare_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bookshare
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10


  web:
    build: .
    container_name: bookshare_app
    restart: always
    ports:
      - "5000:5000"
    environment:
      FLASK_APP: run.py
      FLASK_ENV: development
      SQLALCHEMY_DATABASE_URI: "mysql+pymysql://user:password@db:3306/bookshare"
      SECRET_KEY: "supersecretkey"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      
volumes:
  db_data:
